body {
    font-family: Georgia, 'Times New Roman', Times, serif
    background-color #4287f5;
    color:#007bff blue;
    text-align:center ;
    padding: 20px;
}

h1 {
    color: #007bff;
}
